{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}

        {{ block.super }}


            <div class="container">

                {% for category in categories %}

                    <div class="col-md-4">

                        <a href="{% url 'single-category' category.id category.slug %}">

                            <img src="{{ category.image.url }}" alt="Image" class="img-responsive">

                        </a>

                        <br>

                    </div>

                {% endfor %}

            </div>


    {% endblock %}

</body>
</html>